@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@500;600&display=swap");

body {
  background-color: #f2fff6;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding: 5px 0;

  h1 {
    margin: 0;
    padding: 0;
  }

  img {
    margin-left: 15px;
    width: 100px;
    height: 100px;
  }
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  border: 1px solid black;
  font-family: "Poppins", sans-serif;
  font-size: 15px;

  li {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid black;
  }

  li:last-child {
    border-right: none;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.main-content,
.favorite-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  table {
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid black;
      padding: 5px;
      text-align: center;
    }
  }

  .total-cost {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
  }
}

.favorite {
  display: none;
}

.heart-label {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("../img/heart-outline.svg");
}

.favorite:checked + .heart-label {
  background-image: url("../img/heart-filled.svg");
  transform: scale(1.2);
  transition: transform 0.2s;
}

.results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  .grocery-item {
    display: flex;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    align-items: center;

    div {
      width: 50%;
    }

    .add-to-cart {
      display: flex;
      justify-content: flex-end;
      margin-left: 10px;
      align-items: center;

      .heart-label {
        margin-right: 10px;
      }
    }
  }
}

.add-items {
  display: flex;
  flex-direction: column;
  align-items: center;

  .add-item-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    div {
      display: flex;
      margin: 5px;

      label {
        text-align: left;
        width: 100px;
      }
    }

    button {
      margin-top: 10px;
      align-self: flex-end;
    }
  }
}

input[type="number"] {
  width: 30px;
  margin-right: 10px;
}
