@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@500;600&display=swap");

body {
  background-color: #f2fff6;
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding: 5px 0;

  h1 {
    margin: 0;
    padding: 0;
  }

  img {
    margin-left: 15px;
    width: 100px;
    height: 100px;
  }
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  border: 1px solid black;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  background-color: #d9f0e2;

  li {
    flex: 1;
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid black;
  }

  li:last-child {
    border-right: none;
  }

  a {
    text-decoration: none;
    color: black;
  }
}

.main-content,
.favorite-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  table {
    margin: 0 auto;
    border: 1px solid black;
    width: 80%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;

    th,
    td {
      border: none;
      padding: 5px;
      text-align: center;
    }

    .add-to-cart-container {
      display: flex;
      align-items: center;
      justify-content: center;

      input[type="number"] {
        border: 1px solid black;
        padding: 5px;
        border-radius: 5px;
      }
    }

    .check-off {
      display: none;
    }

    .check-label {
      display: inline-block;
      width: 24px;
      height: 24px;
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
      background-image: url("../img/checkbox-outlined.svg");
      transition: transform 0.2s;
    }

    .check-label:hover {
      transform: scale(1.2);
    }

    .check-off:checked + .check-label {
      background-image: url("../img/checkbox-filled.svg");
      transform: scale(1.2);
    }

    .check-off:checked + .check-label:hover {
      transform: scale(1.4);
    }
  }

  .total-cost {
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;

    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }
  }
}

.favorite {
  display: none;
}

.heart-label {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-image: url("../img/heart-outline.svg");
  transition: transform 0.2s;
}

.heart-label:hover {
  transform: scale(1.2);
}

.favorite:checked + .heart-label {
  background-image: url("../img/heart-filled.svg");
  transform: scale(1.2);
}

.favorite:checked + .heart-label:hover {
  transform: scale(1.4);
}

.delete-button {
  background-image: url("../img/delete.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
}

.delete-button:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

td .delete-button {
  background-image: url("../img/remove-from-cart.svg");
}

.add-to-cart-button {
  background-image: url("../img/add-to-cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
}

.add-to-cart-button:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 10px;
  padding: 5px 15px;

  .grocery-item {
    display: flex;
    border: 1px solid black;
    padding: 15px;
    align-items: center;
    border-radius: 12px;
    background-color: #e0f6e8;

    .item-info {
      flex: 1;
    }

    .item-configure {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      margin-left: 10px;
      align-items: center;

      input[type="number"] {
        padding: 5px;
        border: 1px solid black;
        border-radius: 5px;
      }

      .heart-label {
        margin-right: 10px;
      }

      .delete-button {
        margin-right: 10px;
      }
    }
  }
}

.add-items-button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  margin: 20px;
  padding: 10px;

  .dropdown-icon {
    background-image: url("../img/arrow-right.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 35px;
    height: 35px;
    background-color: transparent;
    transition: transform 0.3s ease;
  }
}

.add-items-button:hover {
  background-color: #cde8d9;
  transform: scale(1.03);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.add-items-button:active {
  background-color: #bde0c7;
  transform: scale(0.98);
}

.add-items {
  display: none;
  align-items: center;
  padding: 0 25px;

  .add-item-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;

    div {
      display: flex;
      align-items: center;
      margin: 5px;

      label {
        text-align: left;
        width: 100px;
      }

      input[type="text"] {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;

        &:focus {
          outline: 1px solid black;
        }
      }
    }

    button {
      margin-top: 10px;
      align-self: flex-end;
      background-image: url("../img/add-item-button-icon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      border: none;
      width: 35px;
      height: 35px;
      cursor: pointer;
      background-color: transparent;
      transition: transform 0.1s ease;
    }

    button:hover {
      transform: scale(1.08);
    }

    button:active {
      transform: scale(0.85);
    }
  }
}

input[type="number"] {
  width: 30px;
  margin-right: 10px;
}

input[type="search"] {
  display: block;
  width: 40%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;

  &:focus {
    outline: 1px solid black;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    background-image: url("../img/search-clear-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 22px;
    height: 22px;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
}
